<h1>Formulário para cadastrar usuário</h1>
<form action="/add-cadastro" method= "POST">
    <label>Nome completo</label>
    <input type="text" name="nome"><br><br>

    <label>Email</label>
    <input type="text" name="email"><br><br>

    <label>Senha</label>
    <input type="text" name="senha"><br><br>

    <label>Endereço</label>
    <input type="text" name="endereco"><br><br>

     <label>Idade</label>
    <input type="text" name="idade"><br><br>

    <label>Telefone</label>
    <input type="text" name="telefone"><br><br>

    <button type="submit">Cadastrar</button>
</form>